body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none; /* list format but no bullets */
    font-weight: bold; /* bold footer + nav bar */
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline; /* on hover, produce underline for links */
}
h1 {
    font-size: 2em; /* 1em is equivalent to 16px */
}
p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 0px solid #d5d5d5; /* d5d5d5 is a light grey */
    font-size: 0.8em;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
}
ul.posts li {
    list-style: none;
}
* {
    font-family: 'Helvetica', sans-serif; /* need to decide if helvetica or sans serif is the one being used here */
  }
